common --enable_bzlmod
fetch --experimental_repository_resolved_file=resolved.bzl

common:py36 --extra_toolchains="@python-3.6.15//:all"
common:py39 --extra_toolchains="@python3.9.12_toolchains//:all"
common:py311 --extra_toolchains="@python3.11.1_toolchains//:all"

build --incompatible_strict_action_env

test --test_output=errors

#build --sandbox_debug --verbose_failures